.signup-step1-docs {
  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 46px;
    color: #263043;

    @media screen and (max-width: 768px) {
      font-size: 36px;
    }
  }

  &-form {
    margin-top: 24px;

    &-passport {
      &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #263043;
      }

      &__info {
        margin-top: 40px;
      }

      &__info {
        &--row {}

        &--series {}

        &--number {}

        &--issue-date {}

        &--validity {}

        &--issued-by {}

        &--division-code {}
      }
    }
  }
}
