.the-client-forms {
  .the-individual-entrepreneur-form {
    &--certificate {
      font-size: 16px;
      color: #263043;

      &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #263043;

        &_error {
          color: #ff5252;
        }
      }

      &__info {
        font-weight: 400;
        line-height: 20px;
        margin-top: 16px;
      }

      &__file {}
    }
  }
}
