.app-avatar {
  cursor: pointer;

  & .v-icon {
    font-size: 500% !important;
  }

  &__input {
    display: none;
  }

  &_error {
    background: #ff5252 !important;
    opacity: .9 !important;
  }

  &_disabled {
    cursor: default;
  }
}
