.forgot-confirm-card {
  padding: 24px;
  border-radius: 16px !important;
  margin-top: 32px;

  &__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #263043 !important;
  }

  &__info {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7A91A9;
    padding-top: 0;
  }

  &__form {
    margin-top: 16px;
  }

  &__code-input {
    justify-content: center;

    .v-input__slot {
      width: 60px !important;
      height: 72px !important;
      margin: 0;

      fieldset {
        border: 1px solid rgba(86, 103, 137, 0.26);
        border-radius: 8px;
      }

      input {
        font-weight: 600;
        font-size: 44px;
        line-height: 55px;
        color: #0082DE;
        user-select: none !important;
      }
    }

    .v-input {
      flex: 0 0 20px !important;
    }

    .v-input--is-focused {
      fieldset {
        border: 1.5px solid #0082DE;
        border-radius: 8px;
      }
    }
  }

  &__btn {
    width: 100%;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF !important;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    &--confirm {
      margin-top: 16px;
    }

    &--send-code {
      margin-top: 14px;
    }
  }
}
