.personal-card {
  .stub {
    &__avatar {
      width: 64px;
      border-radius: 100%;
    }

    color: #263043;

    &__header {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
    }

    &__name,
    &__status {
      margin-top: 24px;
    }

    &__name {
      width: 256px;
    }

    &__invite-code {
      margin-top: 14px;
      width: 96px;
    }

    &__edit {
      color: #666;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px;
      cursor: unset;
      margin-top: 14px;
    }

    &__status {
      width: 114px;
    }

    &__info {
      font-size: 16px;
      font-weight: 400;
      line-height: 125%;
      margin-top: 16px;

      &:first-child {
        margin-top: 0;
      }

      &-title {
        color: #7A91A9;
      }

      &-value {
        font-weight: 600;
        margin-top: 8px;
      }
    }

    &__divider {
      margin: 24px 0;
    }
  }
}
