@import "@/styles/breakpoints.scss";

.partner-profile {
  &-card {
    width: 100%;

    @media screen and (min-width: $screen-sm) {
      max-width: 330px;
      width: 100%;
    }
  }

  &-blocks {
    flex: 1;
    width: 100%;
  }

  &-block {
    max-width: 684px;
    height: 370px;
    width: 100%;
    margin-top: 24px;

    @media screen and (min-width: $screen-sm) {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 24px;

    @media screen and (min-width: $screen-sm) {
      flex-direction: row;
      align-items: start;
    }
  }
}
