.signup-step1-pass {
  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 46px;
    color: #263043;

    &-sub {
      margin-top: 24px;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }

    @media screen and (max-width: 768px) {
      font-size: 36px;
    }
  }

  &__form {
    margin-top: 40px;
  }

  &__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #263043;
    opacity: 0.5;
  }
}
