.signup-step1-pass {
  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 46px;
    color: #263043;

    @media screen and (max-width: 768px) {
      font-size: 36px;
    }
  }

  &__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7A91A9;
  }
}
