@import "@/styles/colors.scss";

.app-select {
  .v-text-field--outlined fieldset {
    border-color: #E2E4E5;
  }

  .v-text-field--outlined.v-input--is-focused fieldset {
    border-color: $blue;
  }

  .error--text fieldset {
    border-color: #ff5252 !important;
  }
}
