.the-widget-income-partner {
  .info-block {
    background: #349CE4;
    border: 1px solid #349CE4;
    padding: 0;
    height: 102px;

    &__container {
      padding: 10px;
    }

    &:first-child {
      margin-top: 0;
    }

    &__title {
      font-size: 18px;
      font-weight: bold;
    }

    &__value {
      font-size: 36px;
    }

    &__skeleton {
      border-radius: 14px;
      background: #349CE4;
      border-style: none;
    }
  }
}
