.forgot-pass-card {
  padding: 24px;
  border-radius: 16px !important;
  margin-top: 32px;

  &__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #263043 !important;
  }

  &__form {
    margin-top: 16px;
  }

  &__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7A91A9;
  }

  &__btn {
    width: 100%;
    margin-top: 18px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF !important;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}
