.the-side-bar-left {
  .link {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 125%;
    color: #80C0EF;
    user-select: none;
    cursor: pointer;
    transition: all .2s ease;

    path {
      transition: all .2s ease;
      fill: #80C0EF;
    }

    &__title {
      margin-top: 5px;
    }

    &:hover,
    &_active {
      color: #FFFFFF;

      path {
        fill: #FFFFFF;
      }
    }
  }
}
